:root {
  --heading-font: "Onest", sans-serif;
  --default-font: "Lora", serif;
  --primary-color: #bd5746;
  --secondary-color: #14223b;
  --background-color: #f1eedd;
  --transition: all 0.2s ease-in-out;
}
h1 {
  font-size: 96px;
  font-family: var(--heading-font);
}
h2 {
  font-size: 24px;
  margin-top: 20px;
  font-family: var(--default-font);
}
h3 {
  font-size: 36px;
  font-family: var(--default-font);
}
h4 {
  text-align: center;
  font-weight: 200;
  color: var(--primary-color);
  margin: 20px auto 50px;
  font-size: 24px;
}

p {
  text-align: justify;
  margin: 50px 100px 30px;
}

img {
  border-radius: 10px;
  transition: var(--transition);
  opacity: 0.9;
}

img:hover {
  opacity: 1;
}
hr {
  border: 1px dashed;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

nav {
  margin-top: 20px;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  color: var(--background-color);
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}
nav a {
  color: var(--background-color);
  text-decoration: none;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 30px 50px 20px;
  font-family: var(--heading-font);
  line-height: 2;
}

.name {
  font-size: 30px;
  font-weight: bold;
}
.contact {
  font-weight: bold;
}
.contact a {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact a:hover {
  opacity: 60%;
}

.nav-container {
  padding: 10px 50px;
  background-color: var(--secondary-color);
}
.dot {
  color: var(--primary-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  color: var(--primary-color);
  padding: 140px 20px;
}

.section-one {
  background-color: var(--secondary-color);
  padding: 50px 10px;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 15px 30px;
  border-radius: 50px 50px;
  margin: 50px auto;
  font-size: 18px;
  transition: var(--transition);
}
.btn-branding:hover {
  background-color: var(--secondary-color);
}
.auto-type {
  text-decoration: underline;
}
.about-title {
  font-size: 50px;
  margin-bottom: 40px;
}
.container-projects {
  background-color: var(--background-color);
  text-align: center;
  color: var(--primary-color);
  padding: 70px 20px;
}
.container-projects h1 {
  font-size: 35px;
  margin-bottom: 70px;
  margin-top: 50px;
}
.project {
  text-align: left;
}

.project-title {
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 20px;
}
.project-description {
  text-align: left;
  color: var(--secondary-color);
  margin: 20px;
}

.project-skills {
  text-align: left;
  color: var(--secondary-color);
  margin: 20px;
  font-weight: bold;
}
.launch-link {
  margin-left: 20px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 24px;
    margin-top: 30px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    margin-left: 30px;
    margin-right: 30px;
  }
  .btn-branding {
    padding: 10px 20px;
    font-size: 14px;
  }
  .project-title {
    font-size: 20px;
  }
  .project-skills {
    font-size: 16px;
  }
  .img-projects {
    display: none;
  }
  nav {
    font-size: 14px;
  }
  nav li {
    margin-left: 10px;
  }
  .nav-container {
    padding: 10px 30px;
  }

  .container-projects h1 {
    font-size: 30px;
    margin-bottom: 70px;
    margin-top: 30px;
  }
}
