:root {
  --heading-font: "Onest", sans-serif;
  --default-font: "Lora", serif;
  --primary-color: #bd5746;
  --secondary-color: #14223b;
  --background-color: #f1eedd;
  --transition: all 0.2s ease-in-out;
}
h1 {
  font-size: 96px;

  font-family: var(--heading-font);
}
h2 {
  font-size: 24px;
  margin-top: 20px;
  font-family: var(--default-font);
}
h3 {
  font-size: 36px;
  font-family: var(--default-font);
}
h4 {
  text-align: center;
  font-weight: 200;
  color: var(--primary-color);
  margin: 20px auto 50px;
}
.hero {
  background-color: var(--background-color);
  text-align: center;
  color: var(--primary-color);
  padding: 170px 20px;
}
.section-one {
  background-color: var(--secondary-color);
  padding: 50px 10px;
}
.btn-branding {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 15px 30px;
  border-radius: 50px 50px;
  margin: 50px auto;
  font-size: 18px;
  transition: var(--transition);
}
.btn-branding:hover {
  background-color: var(--secondary-color);
}
.auto-type {
  text-decoration: underline;
}
img {
  border-radius: 10px;
  transition: var(--transition);
}

img:hover {
  opacity: 0.8;
}
